@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Permanent+Marker|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Shadows+Into+Light&display=swap');

/*
font-family: 'Rock Salt', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

body{
	margin: 0;
	padding: 0;
	overflow: scroll;
	overflow-x: hidden;
}

html{
	margin: 0;
	padding: 0;
	overflow: scroll;
	overflow-x: hidden;
}

.downarrow{
	position: absolute;
	top: 95%;
	font-size: 35px;
	color: #F2F5EA;
	left: 47%;
	animation: blinking 5s linear infinite;
}


.img-fluid{
	max-width: 100%;
	height: auto;
}

li{
	font-family: 'Permanent Marker', cursive;
}

h1, h2, h3, h4, h5, h6{
	color: #F2F5EA;
	font-family: 'Rock Salt', cursive;
}

p{
	color: #F2F5EA;
	font-family: 'Permanent Marker', cursive;
	line-height: 2;
	padding: 2.5%;
}

button, .btn{
	font-family: 'Permanent Marker', cursive;
}

footer i{
	font-size: 25px;
}

footer a:hover{
	color: red;
	text-decoration: none;
}

footer a{
	text-decoration: none;
	color:#60656F;
}

footer li{
	display: inline-block;
	padding: 1%;
	font-size: 20px;
	cursor: pointer;
}

footer ul{
	list-style-type: none;
}

footer mark{
	background-color: red;
	border-radius: 10px;
	color: #F2F5EA;
}

#openbtn{
	position:fixed;
	right:1%;
	top:1%;
}

#closebtn{
	display: none;
	position:fixed;
	right:1%;
	top:1%;
}

#bgmusic{
	width: 15%;
	height: 100px;
	display: none;
	position:fixed;
	right:1%;
	top:9%;
	border: 1px solid red;
}

.backToTop i{
	font-size: 60px;
	margin: 2.5% auto;
}

.backToTop mark{
	background-color: red;
	border-radius: 10px;
	color: #F2F5EA;
}

.backToTop a:hover{
	transition: 350ms ease-in;
	text-decoration: none;
	color: red;
	transform: scale(1.02);
}

.backToTop a{
	text-decoration: none;
	color: white;
}

.backToTop{
	text-align: center;
	margin: 2.5% auto;
}

.morepjs a:hover{
	color: red;
	text-decoration: none;
}

.morepjs a{
	text-decoration: none;
	color:#60656F;
}


form input{
	width: 300px;
	border-right: none;
	border-left: none;
	border-top: none;
}

.modal-body textarea{
	width: 300px;
}

.modal-body select{
	width: 300px;
}

.modal-body{
	font-family: 'Permanent Marker', cursive;
	width: 100%
}

.modal-content{
	width: 100%
}




.descript iframe{
	width: 100%;
	height: 80%;
	border: none;
	border-radius: 5px;
	box-shadow: -4px 4px 15px rgba(20,20,20,0.5);
}

.descript mark{
	background-color: red;
	border-radius: 10px;
	color: #F2F5EA;
}

.descript p{
	font-size: 20px;
}

.descript{
	min-height: auto;
	
}

#showcaseparent mark{
	background-color: red;
	border-radius: 5px;
	color: #F2F5EA;
}

.mobileimg img{
	width:17%;
	max-width: 100%;
	position: absolute;
	top: 35%;
	z-index: 2;
}

.ipadimg img{
	width:40%;
	max-width: 100%;
	position: absolute;
	top: 45%;
	right: .1%;
}

.caro{
	position: absolute;
	bottom: 10%;
}

#tsheading mark{
	background-color: red;
	border-radius: 10px;
	font-size: #F2F5EA;
}

#tsheading{
	position: absolute;
	top: 18%;
	transform: skewX(25deg) skewY(5deg);
}

.section6, .section7{
	display: none;
}

.showcase{
	position: relative;
	margin: 15% auto 5% auto;
}

#showcaseparent{
	padding: 15%;
	min-height: 100vh;
	position: relative;
}

.section mark{
	background-color: red;
	border-radius: 10px;
	color: #F2F5EA;
}

.titlenum{
	position: sticky;
	top: 0;
}

.title{
	margin-top: 10%;
}

.sectionOne{
	height: auto;
	min-height: 100vh;
	width: auto;
	position: relative;
}

.section{
	height: 100vh;
	width: auto;
	position: relative;
	opacity: 0;
}


@keyframes blinking{
	0%{
		opacity: 0
	}
	50%{
		opacity: 1

	}
	100%{
		transform: rotateY(360deg);
		opacity: 0
	}
}

.carousel-item img{
	border-radius: 15px;
}

.carousel{
	border-radius: 15px;
	padding: 5%;
}

#heroimg2{
	width: 90%;
	height: auto;
	margin:1% auto;
	border-radius: 10px;
	transform: skewX(50deg) rotateY(30deg) rotateZ(-2deg) translateY(-250px) translateX(310px) translateZ(200px);
	box-shadow: -12px 12px 18px rgba(0,0,0,0.5);
}

#heroimg{
	width: 100%;
	height: 100%;
	margin:1% auto;
	border-radius: 10px;
	transform:rotateY(180deg) translateX(100px) translateY(-100px);
}

.heroitem img{
	width: 360px;
}

.heroitem a:hover{
	text-decoration: none;
	color: red;
}

.heroitem a{
	font-size: 25px;
	color: #F2F5EA;
	text-decoration: none;
	cursor: pointer;
}

.heroitem li{
	display: inline-block;
	font-size: 23px;
	padding: 3%;
	color: #F2F5EA;
	margin: auto 1%;
	cursor: pointer;
}

.heroitem ul{
	list-style-type: none;
}

.heroitem{
	position: absolute;
	top: 25%;
	right: .01%;
	width: 35%;
	text-align: center;
	opacity: 0;
	z-index: 1;
}

.herocontent h4{
	text-align: left;
	padding: 2%;
	transform: skewY(-5deg) skewX(15deg);
}

.herocontent h5{
	text-align: left;
	padding: 2%;
	transform: skewY(-5deg) skewX(15deg);
}

.herocontent h3{
	text-align: left;
	padding: 2%;
	transform: skewY(-5deg) skewX(15deg);
}

@keyframes slideout2{
	0%{
		transform: translateX(-600px);
	}
	50%{
	}
	100%{
	}
}

@keyframes slideout{
	0%{
		transform: translateX(-800px);
	}
	50%{
	}
	100%{
	}
}

@keyframes slidein2{
	0%{
		transform: translateX(600px);
	}
	50%{
	}
	100%{
	}
}

@keyframes slidein{
	0%{
		transform: translateX(-400px);
	}
	50%{
	}
	100%{
	}
}

.herocontent mark{
	background-color: red;
	color: #F2F5EA;
	border-radius: 10px;
}

.herocontent {
	margin: 10% auto;
	padding: 5%;
	position: relative;
}

#madein{
	position: absolute;
	top: 83%;
	left: 80%;
	transform: rotateZ(-25deg);
}

.hero{
	height: 100vh;
	width: 100vw;
	padding: 2.5%;
	position: relative;
	background:linear-gradient(0deg, rgba(0,0,0,0.92), rgba(0,0,0,0.85)), url(img/bgimage);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.abouthero{
	height: 100vh;
	width: 100vw;
	padding: 2.5%;
	position: relative;
	background:linear-gradient(0deg, rgba(0,0,0,0.92), rgba(0,0,0,0.85)), url(img/bgimage4);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.navbar{
	z-index: 10;
}

#mobilenav{
	display: none;
}

#herodetsmobile{
	display: none;
}

#herodets{
	display: block;
}

@media screen and (max-width: 600px){

	body{
	margin: 0;
	padding: 0;
	overflow: scroll;
	overflow-x: hidden;

}

	html{
	margin: 0;
	padding: 0;
	overflow: scroll;
	overflow-x: hidden;

}

	#openbtn{
		top: 1%;
		font-size:15px;
		left: 35%;
		z-index:2;
}

	#closebtn{
		top: 1%;
		font-size:15px;
		left: 40%;
		z-index:2;
}

	#bgmusic{
		top: 9%;
		left: 25%;
		width: 50%;
		height: 13%;
		z-index:2;
}

	.descript{
		display: none;
	}

	#tsheading{
		font-size: 33px;
		top: 10%;
	}

	.mobileimg img{
	width:18%;
	left: -7%;
	top: 41%;
	max-width: 100%;
	z-index: 2;
}

	.ipadimg img{
	width:60%;
	top: 35%;
	left: 50%;
	max-width: 100%;
}

	.caro{
	width: 130%;
	left: -15%;
}

	.section{
		opacity: 1;
		height:auto;
	}

	#showcaseparent{
		height: auto;
		min-height: auto;
	}

	.heroitem{
	display: none;
}

	#madein{
	left: 30%
}

	#heroimg{
		display: none;
	}

	#primarynav{
		display: none;
	}

	#mobilenav mark{
		background-color: red;
		border-radius: 5px;
		font-family: 'Sedgwick Ave Display', cursive;
		color: #F2F5EA;
	}

	.neavbar-nav{
		text-align: center;
	}

	#mobilenav{
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		z-index:1;
		font-family: 'Permanent Marker', cursive;
		font-size: 20px;
	}

	.title h1{
display: none;
	}

	#herodetsmobile{
		display: block;
		position: absolute;
		top:70px;
	}

	.backToTop{
		display: none;
	}

	#herodets{
		display: none;
	}
}
