@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Permanent+Marker|Rock+Salt&display=swap");

/*
font-family: 'Rock Salt', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Open Sans', sans-serif;
*/

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  margin: 0;
  padding: 0;
  overflow: scroll;
  overflow-x: hidden;
}

.downarrow {
  position: absolute;
  top: 95%;
  font-size: 35px;
  color: #f2f5ea;
  left: 47%;
  animation: blinking 5s linear infinite;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

li {
  font-family: "Permanent Marker", cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f2f5ea;
  font-family: "Rock Salt", cursive;
}

p {
  color: #f2f5ea;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  padding: 2.5%;
  font-size: 20px;
}

mark {
  background-color: red !important;
  border-radius: 10px;
  color: #f2f5ea;
}

button,
.btn {
  font-family: "Permanent Marker", cursive;
}

footer i {
  font-size: 25px;
}

footer a:hover {
  color: red;
  text-decoration: none;
}

footer a {
  text-decoration: none;
  color: #60656f;
}

footer li {
  display: inline-block;
  padding: 1%;
  font-size: 20px;
  cursor: pointer;
}

footer ul {
  list-style-type: none;
}

.backToTop i {
  font-size: 60px;
  margin: auto;
}

.backToTop a:hover {
  transition: 350ms ease-in;
  text-decoration: none;
  color: red;
  transform: scale(1.02);
}

.backToTop a {
  text-decoration: none;
  color: white;
}

.backToTop {
  text-align: center;
  margin: auto;
}

.morepjs a:hover {
  color: red;
  text-decoration: none;
}

.morepjs a {
  text-decoration: none;
  color: #60656f;
}

form input {
  width: 300px;
  border-right: none;
  border-left: none;
  border-top: none;
}

.modal-body textarea {
  width: 300px;
}

.modal-body select {
  width: 300px;
}

.modal-body {
  font-family: "Permanent Marker", cursive;
  width: 100%;
}

.modal-content {
  width: 100%;
}

.descript iframe {
  width: 100%;
  height: 80%;
  border: none;
  border-radius: 5px;
  box-shadow: -4px 4px 15px rgba(20, 20, 20, 0.5);
}

.descript p {
  padding: 3%;
}

.descript {
  min-height: auto;
}

.mobileimg img {
  width: 17%;
  max-width: 100%;
  position: absolute;
  top: 35%;
  z-index: 2;
}

.ipadimg img {
  width: 40%;
  max-width: 100%;
  position: absolute;
  top: 45%;
  right: 0.1%;
}

.caro {
  position: absolute;
  bottom: 10%;
}

#tsheading {
  position: absolute;
  transform: skewX(25deg) skewY(5deg);
}

.section6,
.section7 {
  display: none;
}

.showcase {
  position: relative;
  margin: 5% auto 5% auto;
}

#showcaseparent {
  position: relative;
}

.titlenum {
  position: sticky;
  top: 0;
}

.title {
  margin-top: 10%;
}

.sectionOne {
  height: auto;
  min-height: 100vh;
  width: auto;
  position: relative;
}

.section {
  height: 100vh;
  width: auto;
  position: relative;
  opacity: 0;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: rotateY(360deg);
    opacity: 0;
  }
}

.carousel-item img {
  border-radius: 15px;
}

.carousel {
  border-radius: 15px;
  padding: 5%;
}

#heroimg2 {
  width: 90%;
  height: auto;
  margin: 1% auto;
  border-radius: 10px;
  transform: skewX(50deg) rotateY(30deg) rotateZ(-2deg) translateY(-250px)
    translateX(310px) translateZ(200px);
  box-shadow: -12px 12px 18px rgba(0, 0, 0, 0.5);
}

.heroitem img {
  width: 360px;
}

.heroitem a:hover {
  text-decoration: none;
  color: red;
}

.heroitem a {
  font-size: 25px;
  color: #f2f5ea;
  text-decoration: none;
  cursor: pointer;
}

.heroitem li:hover {
  text-decoration: none;
  color: red;
}

.heroitem li {
  display: inline-block;
  font-size: 23px;
  padding: 3%;
  color: #f2f5ea;
  margin: auto 1%;
  cursor: pointer;
}

.heroitem ul {
  list-style-type: none;
}

.heroitem {
  position: absolute;
  top: 30%;
  right: 0.01%;
  width: 35%;
  text-align: center;
  opacity: 0;
  z-index: 1;
}

.herocontent h4 {
  text-align: left;
  padding: 2%;
  transform: skewY(-5deg) skewX(15deg);
}

.herocontent h5 {
  text-align: left;
  padding: 2%;
  transform: skewY(-5deg) skewX(15deg);
}

.herocontent h3 {
  text-align: left;
  padding: 2%;
  transform: skewY(-5deg) skewX(15deg);
}

@keyframes slideout2 {
  0% {
    transform: translateX(-600px);
  }

  50% {
  }

  100% {
  }
}

@keyframes slideout {
  0% {
    transform: translateX(-800px);
  }

  50% {
  }

  100% {
  }
}

@keyframes slidein2 {
  0% {
    transform: translateX(600px);
  }

  50% {
  }

  100% {
  }
}

@keyframes slidein {
  0% {
    transform: translateX(-400px);
  }

  50% {
  }

  100% {
  }
}

.herocontent mark {
  background-color: red;
  color: #f2f5ea;
  border-radius: 10px;
}

.herocontent {
  margin: 10% auto;
  padding: 5%;
  position: relative;
}

#myskills {
  padding: 15%;
  min-height: 60vh;
  position: relative;
}

.skills {
  margin-top: 10%;
}

.aboutme img {
  border-radius: 10px;
}

.aboutme p {
  font-size: 19px;
}

.abouthero {
  height: 100vh;
  width: 100vw;
  padding: 2.5%;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.92), rgba(0, 0, 0, 0.85)),
    url(bgimages/bgimage4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  z-index: 10;
}

#mobilenav {
  display: none;
  z-index: 10;
}

#herodetsmobile {
  display: none;
}

#herodets {
  display: block;
}

#madein {
  position: absolute;
  transform: rotateZ(-25deg);
}

.hero {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(bgimages/bgimage.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  height: 100vh;
  width: 100vw;
  padding: 2.5%;
  position: relative;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
  }

  html {
    margin: 0;
    padding: 0;
    overflow: scroll;
    overflow-x: hidden;
  }

  #openbtn {
    position: fixed;
    top: 1%;
    font-size: 12px;
    left: 35%;
    z-index: 2;
  }

  #closebtn {
    position: fixed;
    top: 1%;
    font-size: 12px;
    left: 40%;
    z-index: 2;
    display: none;
  }

  #bgmusic {
    top: 9%;
    left: 25%;
    width: 50%;
    height: 13%;
    z-index: 2;
    position: fixed;
    display: none;
  }

  .descript h1 {
    font-size: 15px;
  }

  #tsheading {
    left: -5%;
    top: -8%;
    font-size: 20px;
  }

  .mobileimg img {
    width: 18%;
    left: -7%;
    top: 41%;
    max-width: 100%;
    z-index: 2;
  }

  .ipadimg img {
    width: 60%;
    top: 35%;
    left: 50%;
    max-width: 100%;
  }

  .caro {
    width: 130%;
    left: -15%;
  }

  .descript h1 {
    display: none;
  }

  .section {
    height: auto;
    opacity: 1;
  }

  #showcaseparent {
    height: auto;
    min-height: auto;
    margin: auto;
  }

  .livesite {
    display: none;
  }

  #showcaseparent iframe {
    height: 500px;
    width: 100%;
    border: none;
    border-radius: 10px;
  }

  .heroitem {
    display: none;
  }

  #madein {
    left: 20%;
    bottom: 10%;
    font-size: 15px;
  }

  #heroimg {
    display: none;
  }

  #primarynav {
    display: none;
  }

  #mobilenav mark {
    background-color: red;
    border-radius: 5px;
    font-family: "Sedgwick Ave Display", cursive;
    color: #f2f5ea;
  }

  .neavbar-nav {
    text-align: center;
  }

  .skills {
    margin-top: 40%;
  }

  #mobilenav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    font-family: "Permanent Marker", cursive;
    font-size: 20px;
  }

  #title4 h1 {
    font-size: 20px;
  }

  .title h1 {
    font-size: 22px;
    width: 100vw;
  }

  .aboutsection {
    display: none;
  }

  #herodetsmobile {
    display: block;
    position: absolute;
    top: 60px;
  }

  #herodetsmobile h5 {
    font-size: 15px;
  }

  #herodets h4 {
    font-size: 10px;
  }

  .backToTop i {
    display: none;
  }

  .backToTop h3 {
    font-size: 15px;
  }

  #herodets {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 375px and up) */
@media only screen and (min-width: 374px) {
  #openbtn {
    position: fixed;
    top: 1%;
    font-size: 17px;
    left: 35%;
    z-index: 12;
  }

  #closebtn {
    position: fixed;
    top: 1%;
    font-size: 17px;
    left: 40%;
    z-index: 12;
    display: none;
  }

  #bgmusic {
    position: fixed;
    top: 9%;
    left: 25%;
    width: 50%;
    height: 13%;
    z-index: 12;
    display: none;
  }

  #heroimg {
    transform: translateX(-70px) rotateY(180deg);
  }

  #herodetsmobile {
    top: 50%;
  }

  #herodetsmobile h5 {
    font-size: 20px;
  }

  .descript iframe {
    min-height: 400px;
  }

  .descript h1 {
    display: none;
  }

  .hero h4 {
    font-size: 20px;
  }

  #madein {
    left: 20%;
    top: 80%;
    font-size: 18px;
  }

  #herorow1 {
    margin-top: 15%;
  }

  #tsheading {
    position: absolute;
    top: 0.5%;
    left: -4.5%;
    transform: skewX(25deg) skewY(5deg);
    font-size: 20px;
  }

  .livesite {
    display: none;
  }

  #showcaseparent iframe {
    height: 500px;
    width: 100%;
    border: none;
    border-radius: 10px;
  }

  .skills {
    margin-top: 20%;
  }

  .abouthero h4 {
    font-size: 20px;
  }

  .aboutme h2 {
    font-size: 40px;
  }

  #mobilenav {
    z-index: 11;
  }

  .backToTop i {
    display: none;
  }

  .backToTop h3 {
    font-size: 15px;
  }
}

@media only screen and (min-width: 413px) {
  #madein {
    font-size: 18px;
    left: 32%;
    top: 85%;
  }

  .descript h1 {
    display: none;
  }

  .livesite {
    display: none;
  }

  #showcaseparent iframe {
    height: 600px;
    width: 100%;
    border: none;
    border-radius: 10px;
  }

  .backToTop i {
    display: none;
  }

  .backToTop h3 {
    font-size: 15px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #openbtn {
    position: fixed;
    left: 75%;
    top: 1%;
  }

  #closebtn {
    display: none;
    position: fixed;
    left: 80%;
    top: 1%;
  }

  #showcaseparent iframe {
    height: 600px;
    width: 100%;
    border: none;
    border-radius: 10px;
  }

  #bgmusic {
    width: 15%;
    height: 100px;
    display: none;
    position: fixed;
    left: 780%;
    top: 9%;
    border: 1px solid red;
  }

  #tsheading {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 25px;
    transform: skewX(25deg) skewY(5deg);
  }

  #madein {
    left: 63%;
    top: 85%;
  }

  .aboutme p {
    font-size: 17px;
  }

  .livesite {
    display: block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  #openbtn {
    position: fixed;
    left: 85%;
    top: 1%;
  }

  #closebtn {
    display: none;
    position: fixed;
    left: 85%;
    width: 12%;
    top: 1%;
  }

  #bgmusic {
    width: 15%;
    height: 100px;
    display: none;
    position: fixed;
    left: 85%;
    top: 9%;
    border: 1px solid red;
  }

  #showcaseparent iframe {
    height: 600px;
    width: 100%;
    border: none;
    border-radius: 10px;
  }

  #showcaseparent {
    min-height: 100vh;
    position: relative;
  }

  .skills {
    margin-top: 8%;
  }

  .aboutsection {
    height: 100vh;
    width: auto;
    position: relative;
    opacity: 0;
  }

  #heroimg {
    width: 100%;
    height: 100%;
    margin: 1% auto;
    border-radius: 10px;
    transform: rotateY(180deg) translateX(100px) translateY(-100px);
  }

  #madein {
    top: 83%;
    left: 75%;
  }

  .herocontent {
    margin: 0px;
  }

  #tsheading {
    top: 3%;
    font-size: 30px;
    transform: skewX(25deg) skewY(5deg);
  }

  #backtotop i {
    font-size: 35px;
    display: block;
  }

  #backtotop h3 {
    font-size: 18px;
  }

  #backtotop {
    position: fixed;
    bottom: 2.5%;
    right: 1%;
    display: none;
    opacity: 0;
    font-size: 20px;
  }

  .backToTop i {
    display: block;
  }

  .backToTop h3 {
    font-size: 25px;
  }

  .livesite {
    display: block;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1366px) {
  #openbtn {
    position: fixed;
    left: 85%;
    top: 1%;
  }

  #closebtn {
    display: none;
    position: fixed;
    left: 85%;
    width: 12%;
    top: 1%;
  }

  #bgmusic {
    width: 15%;
    height: 100px;
    display: none;
    position: fixed;
    left: 85%;
    top: 9%;
    border: 1px solid red;
  }

  #showcaseparent iframe {
    height: 600px;
    width: 100%;
    border: none;
    border-radius: 10px;
  }

  #showcaseparent {
    min-height: 100vh;
    position: relative;
  }

  .skills {
    margin-top: 8%;
  }

  .aboutsection {
    height: 100vh;
    width: auto;
    position: relative;
    opacity: 0;
  }

  #heroimg {
    width: 100%;
    height: 100%;
    margin: 1% auto;
    border-radius: 10px;
    transform: rotateY(180deg) translateX(100px) translateY(-100px);
  }

  #madein {
    top: 83%;
    left: 75%;
  }

  .herocontent {
    margin: 0px;
  }

  #tsheading {
    top: 2%;
    transform: skewX(25deg) skewY(5deg);
  }

  #backtotop i {
    font-size: 35px;
  }

  #backtotop h3 {
    font-size: 18px;
  }

  #backtotop {
    position: fixed;
    bottom: 2.5%;
    right: 1%;
    display: none;
    opacity: 0;
    font-size: 20px;
  }
}
