:root {
	--red: (rgba(177, 51, 48, 0.5));
	--black: (rgba(2, 17, 27, 0.5));
	--charcoal: (rgba(46, 64, 87, 0.5));
	--gradient: linear-gradient(45deg #2E4057, #02111B, #000, #2E4057)
}

* {
	text-align: center;
	font-family: sans-serif;
	color: #605F5E;
}

/*Thank You Page*/

#thankyou a:hover {
	background-color: #4F3130;
	color: #FAFAFF;
	transition: 350ms ease-in-out;

}

#thankyou a {
	background-color: #FAFAFF;
	padding: 10px;
	text-transform: uppercase;
	margin: 20px;
	position: absolute;
	width: 15%;
	border-radius: 5px;
}

.thankyouh2 {
	color: #FAFAFF;
	font-weight: 200;
	text-transform: uppercase;
}

#thankyou h1 {
	display: table-cell;
	padding: 10.21%;
	margin: auto;
	font-size: 80px;
	line-height: 1.5;
	vertical-align: middle;
	color: #FAFAFF;
}

#thankyou {
	display: table;
	background-color: #2E2E3A;
	height: 95%;
	width: 100%;
}

/*Portfolio Page*/

.main-content {
	display: block;
	padding: 10%;
	flex: 1 1 80%;
	height: auto;
	position: relative;
}

.portfolio {
	display: grid;
	height: 80%;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 10px;

}

.portfolio-item a {
	text-decoration: none;
	color: #fff;
	font-size: 35px;

}

.portfolio-item {
	background-color: rgba(2, 17, 27, 0.5);
	color: #FAFAFF;
	font-weight: 350;
	display: flex;
	justify-content: center;
	align-items: center;

}

.medium {
	grid-row: span 2;
	grid-column: span 2;
}

.large {
	grid-row: span 3;
	grid-column: span 3;
}

.tall {
	grid-row: span 3;
	grid-column: span 2;
}

.wide {
	grid-row: span 2;
	grid-column: span 3;
}


.portfolio-item:hover {
	transform: scale(1.02);
	font-size: 26px;
	cursor: pointer;
	color:
}

.ufr {
	background-image: url(img/UFRPAGE.png);
	color: #FAFAFF;
	text-shadow: -1px 1px 5px #fff;
	font-size: 25px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom right;
	transition: all ease-in-out 1s;
	position: relative;
}

.meliitats {
	background: linear-gradient(0deg, rgba(2, 17, 27, 0.5), rgba(2, 17, 27, 0.5)), url(img/melii.png);
	color: #FAFAFF;
	text-shadow: -1px 1px 5px #fff;
	font-size: 25px;
	background-size: cover;
	background-position: center;
	transition: all ease-in-out 1s;
	position: relative;
}

.three {
	background-image: url();
	color: #FAFAFF;
	text-shadow: -4px 2px 10px #000;
	font-size: 25px;
	background-size: cover;
	background-position: center;
	transition: all ease-in-out 1s;
	position: relative;
}

.four {
	background-image: url();
	color: #FAFAFF;
	text-shadow: -4px 2px 10px #000;
	font-size: 25px;
	background-size: cover;
	background-position: center;
	transition: all ease-in-out 1s;
	position: relative;
}

.perfecttax {
	background: linear-gradient(0deg, rgba(2, 17, 27, 0.5), rgba(2, 17, 27, 0.5)), url(img/ptax-.png);
	color: #FAFAFF;
	text-shadow: -1px 1px 5px #fff;
	font-size: 25px;
	background-size: cover;
	background-position: center;
	transition: all ease-in-out 1s;
	position: relative;

}

.six {
	background-image: linear-gradient(0deg, rgba(2, 17, 27, 0.5), rgba(2, 17, 27, 0.5)), url(img/Castillo.png);
	color: #FAFAFF;
	text-shadow: -1px 1px 5px #fff;
	font-size: 25px;
	background-size: cover;
	background-position: center;
	transition: all ease-in-out 1s;
	position: relative;
}

#grid {
	width: 80%;
	height: 500px;
	width: 80%;
	padding-top: 50px;
	padding-bottom: 0px
}

.myworkpage2 {
	display: flex;
	width: 100%;
	position: absolute;
	top: 0;
	justify-content: center;
}

/*Contact & Send A Message*/

.fm{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#sendamessage {
	display: table-cell;
	width: 50%;
	border-radius: 7px;
	text-align: left;
}

#sendamessage h2 {
	padding: 10px;
	width: 80%;
}

.submitbutton {
	width: 45%;
	font-size: 25px;
}

.textarea {
	width: 60%;
	height: 80px;
	text-align: left;
	color: #000;
	font-size: 17px;
}

.inputs {
	width: 60%;
	height: 30px;
	font-size: 15px;
	text-align: left;
	color: #000;
}

#form {
	width: 75%;
	padding: 10px;
	margin-left: 1%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.map {
	margin-left: 5%;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.paragraphc {
	text-align: center;
	padding: 10px;
	line-height: normal;
	margin-left: 20px;
	font-size: 20px;
}

#contactdetails a {
	text-decoration: none;
	color: #605F5E;
}

#contactdetails li:hover {
	color: #FAFAFF;
	background-color: rgba(46, 46, 58, 0.7);
	transition: 250ms ease-out;
}

#contactdetails li {
	display: inline;
	padding: 10px;
	border-bottom: 1px solid rgba(96, 95, 94, 0.2);
	margin-bottom: 20px;
	width: 100%;
}

#contactdetails {
	line-height: 1.5;
	font-size: 20px;
	width: 100%;
}

#contactinfo h2 {
	padding: 20px;
	width: auto;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: 5.5%;
}

#contactinfo {
	display: table-cell;
	width: 50%;
	height: auto;
	padding-bottom: 50px;
}

#contact h1 {
	display: table-caption;
	height: auto;
	vertical-align: top;
}

#contact {
	display: table;
	width: 100%;
}


/*About Me Section*/
.headshot {
	width: 65%;
	height: auto;
	padding: 10px;
	border: 2px solid rgba(96, 95, 94, 0.3);
	border-radius: 5px;
	margin-bottom: 0px;
}

#headshot1 {
	display: inline-block;
	height: auto;
	width: 47%;
	vertical-align: middle;

}

#paragraph p {
	width: 80%;
	line-height: 1.5;
	font-size: 20px;
	font-weight: 340;
	padding: 20px;
	border: 2px solid rgba(96, 95, 94, 0.3);
	border-radius: 5px;
	text-align: justify;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

}

#paragraph {
	display: inline-block;
	width: 47%;
	height: auto;
	line-height: 1.5;
	vertical-align: middle;
}

#aboutme h1 {
	padding: 20px;

}

#aboutme img{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
#aboutme {
	display: inline;
	width: 100%;
	height: auto;
}


/*My Work Section*/
#followme {
	display: table-cell;
	width: 30%;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	vertical-align: middle;
}

#workwithme {
	color: #4F3130;
	display: table-cell;
	width: 30%;
	padding-bottom: 30px;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: middle;
}

#hireme {
	display: table-cell;
	width: 30%;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	vertical-align: middle;
}

#mywork a {
	text-decoration: none;
}

#mywork {
	display: table-caption;
	width: 95%;
	height: auto;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 15px;
}

#workdescript {
	align-content: center;
	display: table;
	width: 100%;
	text-align: center;
	margin-left: 0px;
}

#grid {
	margin: auto;
	height: 500px;
	width: 80%;
	padding-top: 50px;
	padding-bottom: 0px
}


/*Intro*/
.introimages:hover {
	padding: 20px;
	border: 2px solid rgba(96, 95, 94, 0.9);
	border-radius: 10px;
}

.introimages {
	padding: 10px;
	margin: auto;
	transition: 250ms ease-in;

}

#featured a {
	text-decoration: none;
	transition: 350ms;
}
}

#featured h1 {
	padding: 30px;

}

#featured {
	width: 100%;
	height: auto;

}

#intro h1: .introh1 {
	color: #FAFAFF;
	font-weight: 200;

}

#intro h1 {
	display: table-cell;
	padding: 10.21%;
	margin: auto;
	font-size: 110px;
	line-height: 1.5;
	vertical-align: middle;
	color: #FAFAFF;

}

#intro {
	display: table;
	background-color: #2E2E3A;
	height: 100%;
	width: 100%;
}

/*Universal*/
hr {
	max-width: 60%;
	background-color: rgba(96, 95, 94, 0.1);
}

footer p{
	color: #FAFAFF;
}
footer {
	width: 100%;
	font-size: 20px;
	padding: 10px;
	color: #FAFAFF;
	background-color: #2E2E3A;
	font-weight: 200;
}

body {
	height: 100%;
	width: 100%;
	background-color: #FAFAFF;
	margin: 0;
	overflow-x: scroll;
	overflow-x: hidden;
}


/*Phone Code*/
@media (max-width:600px) {


	#headshot1 {
		width: 80%;

	}

	#hireme {
		width: 95%;
		padding: 1%;
		margin: auto;
		line-height: 1.5;
		display: block;
		font-weight: 400;
	}

	#workwithme {
		width: 95%;
		padding: 1%;
		margin: auto;
		display: block;
	}

	#followme {
		width: 95%;
		padding: 1%;
		margin: auto;
		display: block;
	}

	.mywork {
		display: block;
		margin-right: 16%;
	}

	.map{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

	}

	.submitbutton {
		background-color: #605F5E;
		color: #FAFAFF;
		border-radius: 5px;
		width: 50%;
	}

	.textarea {
		border: 1px solid #2E2E3A;
	}

	.inputs {
		border: 1px solid #2E2E3A;
		width: 20px;
	}

	#form{
		box-shadow: none;
		margin-left: 5%;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding-right: 13%;
		text-align: left;
	}
	
	#sendamessage form {
		width: 95%;
		margin-left: ;
		text-align: left;
	}

	#sendamessage input {
		width: 100%;
	}

	#sendamessage textarea {
		width: 100%;
		
	}

	#sendamessage h2 {
		margin-left: 7%;
		font-size: 30px;

	}

	#sendamessage {
		margin-right: 10%;
		width: 90%;
		display: inline;
		text-align: left;
	}

	#contactdetails li {
		text-align: center;
		padding: 5px;
		margin-bottom: 2px;
		font-size: 20px;
		margin-left: 1%;
	}

	#contactdetails p {
		margin-left: 7%;
	}

	#contactdetails {
		width: 90%;
		text-align: center;
	}

	#contactdetails iframe {
		padding-left: 0px;
		margin-left: 7%;
		width: 95%;
	}

	#contactinfo h2 {
		margin-right: 5%;
		font-size: 30px;
	}

	#contactinfo {
		width: 100%;
		margin-right: 1%;
		display: inline-block
	}

	.heading1 {
		text-align: center;
	}

	#contact {
		width: 100%;
		display: inline-block;
	}

	#paragraph {
		display: none;
	}

	#grid {
		margin-left: 5%;
		width: 90%;

	}

	.headshot {

	}

	#aboutme h1 {
		margin-left: 1%;
	}

	hr {
		margin-left: 20%;
	}

	#workdescript h2,
	#workdescript p {
		margin-left: 1%
	}

	#workdescript h1 {
		margin-right: 10%;
	}

	#featured a {
		text-decoration: none;
	}

	#featured h1,
	#featured h2 {
		width: 95%;
		margin-left: 3%;
	}

	#thankyou h1 {
		font-size: 50px;
		padding: 10%;
	}

	#thankyou {
		width: 100%;
		height: 670px;
		margin-right: 0px;
		padding-right: 0px;
	}

	#intro h1 {
		font-size: 50px;
		padding: 10%;
	}

	#intro {
		width: 100%;
		height:670px;
		margin-right: 0px;
		padding-right: 0px;
	}

	footer p{
		width: 95%;
		margin-right: 5%;
	}
	footer {
		width: 100%;
		font-size: 15px;
	}

	html{
		width: 100%;
		height: auto;
		margin: 0px;
		overflow-x: hidden;
	}
	body {
		margin: 0px;
		height: auto;
		width: 100%;
		overflow: scroll;
		overflow-x: hidden;
	}
}
